* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
}

.main-header {
    width: 100%;
    background-color: #20B2AA;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: black solid 2px;
    z-index: 1;
    height: 86px;
}

nav {
    display: flex;
}

.nav-footer {
    justify-content: center;
}

#main-header__name {
    font-size: 25px;
    color: #FFFFFF;
    padding: 0;
}

#main-header__name:hover,
#main-header__name:active {
    font-weight: bolder;
    color: #1CA099;
    border-bottom: none;
}

.main-header div:first-child {
    background-color: #FFA500;
    margin-right: auto;
}

.main-nav__item {
    padding: 27.5px 30px;
    text-align: center;
    vertical-align: middle;
}

.main-header > div:hover
{
    background-color: #FFB732;
}

.main-nav__item:hover,
.main-nav__item:active {
    background-color: #FFA500;
}

.main-nav__item a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 4px 0;
    font-size: 22px;
    font-weight: bold;
}

.main-nav__item a:active,
.main-nav__item a:hover {
    border-bottom: solid #20B2AA 5px;
    font-weight: bolder;
}

.main-footer {
    border-top: 2px #000000 solid;
    background-color: #20B2AA;
    text-align: center;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer__link {
    display: inline-block;
    padding: 35px 50px;
}

.main-footer__link:hover,
.main-footer__link:active {
    background-color: #FFA500;
}

.main-footer__link a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    text-decoration: none;
    border-bottom: solid #20B2AA 5px;
    font-weight: bolder;
    padding-bottom: 5px;
}

main {
    margin-top: 86px;
}
